# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
.env.*.local

# build
dist/
build/
out/

# logs / db
*.log
prisma/*.db
prisma/*.db-journal

# editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# misc
coverage/
*.tsbuildinfo